body {
    margin:0;
    font-family:Consolas;
    background:#0f172a;
    color:white;
}

nav {
    display:flex;
    justify-content:space-between;
    padding:20px;
    background:#020617;
}

nav a {
    margin:0 10px;
    color:white;
    text-decoration:none;
}

section {
    padding:60px;
    text-align:center;
}

button {
    padding:10px 20px;
    background:#3b82f6;
    border:none;
    color:white;
    cursor:pointer;
}

.big {
    font-size:20px;
    padding:15px;
}

.card {
    background:#1e293b;
    padding:20px;
    margin:20px auto;
    width:60%;
    border-radius:10px;
}

pre {
    background:black;
    padding:10px;
    text-align:left;
}